body {
  background-image: url('/images/bg.png');
  font-family: "Helvetica", sans-serif;
  margin: 0;
}
/* Used for some widgets - they all need a bit of spacing around them. */
iframe {
  margin: 2em auto;
}
#title h2 {
  text-align: center;
  font-size: 2em;
}
h3 {
  color: #8a0404;
  font-family: 'Roboto Slab', serif;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0;
  background-color: #FFF;
  /* Flexslider overrides */

}
.container header .logo {
  width: 70%;
  display: block;
  margin: auto;
}
.container header .right-hand-side h2 {
  width: 70%;
  margin: 1em auto;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  color: #8a0404;
}
.container ul.nav {
  background-color: #8a0404;
  list-style-type: none;
  border-radius: 3px;
  margin: 0 2em;
  padding: 1em;
}
.container ul.nav li {
  padding: 1em;
  color: #FFF;
}
.container ul.nav li a {
  color: inherit;
  text-decoration: none;
}
.container #title h1 {
  text-align: center;
  font-size: 3em;
  color: #8a0404;
  margin: 0.3em 0;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.container .left-sidebar {
  margin: 2em 0;
}
.container .left-sidebar h3 {
  margin: 1em 0;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.container .left-sidebar ul {
  list-style-type: none;
}
.container .left-sidebar ul li {
  margin: 1em auto;
}
.container .left-sidebar ul a {
  color: inherit;
}
.container .content a h3 {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  color: #8a0404;
}
.container .content a {
  color: #000;
}
.container .content img {
  width: 100%;
  margin: 1em auto;
  text-align: center;
}
.container .content img.no-stretch {
  width: auto;
}
.container .content .churches {
  margin: auto;
  width: 60%;
}
.container .content .churches a {
  margin: auto;
  text-align: center;
}
.container .content .committee {
  margin: 2em 0;
}
.container .content .committee .person {
  clear: both;
}
.container .content .committee .person img {
  float: left;
  margin: 0 2em 2em 0;
  width: 150px;
}
.container .content .committee .person p {
  float: left;
  line-height: 1.5em;
}
.container .flexslider {
  margin: 2em 1em;
}
.container .flexslider {
  background: #ffffff url(images/ajax-loader.gif) no-repeat center center;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  zoom: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.container body.flexdemobody .flexslider {
  min-height: 170px;
}
.container .flexslider .slides {
  zoom: 1;
}
.container .flexslider .slides > li {
  position: relative;
}
.container .flex-container {
  zoom: 1;
  position: relative;
}
.container .flex-caption {
  width: 96%;
  padding: 2%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 18px;
}
.container .flex-direction-nav {
  *height: 0;
  padding: 0;
}
.container .flex-direction-nav li a {
  width: 26px;
  height: 26px;
  margin: -13px 0 0;
  display: block;
  font-size: 0;
  position: absolute;
  top: 45%;
  cursor: pointer;
  color: #666;
  opacity: .9;
}
.container .flex-direction-nav li a:hover {
  color: #4d4d4d;
}
.container .flex-direction-nav li .flex-next:before,
.container .flex-direction-nav li .flex-prev:before {
  font-family: FontAwesome;
  font-size: 20px;
}
.container .flex-direction-nav li .flex-next {
  background-position: -30px 0;
  right: -37px;
}
.container .flex-direction-nav li .flex-prev {
  left: -28px;
}
.container .flex-direction-nav li .flex-next:before {
  content: "\f054";
}
.container .flex-direction-nav li .flex-prev:before {
  content: "\f053";
}
.container .flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default;
}
.container .flex-control-nav {
  margin: 7px 0 0;
  text-align: center;
}
.container .flex-control-nav li {
  display: inline;
  margin: 0 7px;
}
.container .flex-control-nav li a {
  background: #fff;
  display: inline-block;
  overflow: hidden;
  width: 10px;
  height: 0;
  padding-top: 10px;
  text-align: center;
  -webkit-border-radius: 300px;
  border-radius: 300px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.container .flex-control-nav li a:after {
  content: '';
  display: inline-block;
  margin-top: 2px;
  overflow: hidden;
  height: 0;
  width: 4px;
  padding-top: 4px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border: 100px solid #ff0000;
}
.container .flex-control-nav li a.flex-active,
.container .flex-control-nav li:hover a {
  background-color: #293f67;
}
