<div class="container">
  <header class="cf">
    <img class="logo" alt="LSESU Christian Union" src="/images/logo.png" />

    <div class="right-hand-side">

    <ul class="desktop-only nav">
      <li><a href="/">Home</a></li>
      <li><a href="/who-we-are">Who we are</a></li>
      <li><a href="/whats-on">What's on</a></li>
      <li><a href="/events-week">Events Week</a></li>
      <li><a href="/contact-us">Contact us</a></li>
    </ul>

      <h2 class="byline">
        {% if page.title %}{{ page.title }}{% else %}Knowing Christ and making Him known{% endif %}
      </h2>
    </div>
  </header>

  <ul class="nav mobile-only">
    <li><a href="/">Home</a></li>
    <li><a href="/who-we-are">Who we are</a></li>
    <li><a href="/whats-on">What's on</a></li>
    <li><a href="/events-week">Events Week</a></li>
    <li><a href="/contact-us">Contact us</a></li>
  </ul>

  <section id="main" class="cf">
    <div class="grid-container">